.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff0e7;
}

.left-section {
  width: 80%;
  padding: 20px;
  text-align: justify;
}

.left-section h1 {
  color: #000000;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}

.left-section p {
  color: #000000;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.left-section button {
  background-color: #eb4d3b;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: 20px;
  left: 750px;
}

.left-section button:hover {
  background-color: #b33224;
}

.right-section {
  width: 40%;
  height: 500px;
  background-color: #f7a96f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

.signup-form {
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  text-align: center;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  font-size: 33px;
}

.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff0e7;
}

.signup-form input[type="radio"] {
  margin-right: 5px;
  background-color: #fff0e7;
}

.signup-form label {
  margin-right: 20px;
}

.signup-form button {
  width: 100%;
  background-color: #eb4d3b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.signup-form button:hover {
  background-color: #b33224;
}

.signup-form a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 5px;
}

.signup-form a:hover {
  text-decoration: underline;
}
/* if you want to hidde the scrollbar uncomment the below section */
/* ::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
} */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff0e7;
}

::-webkit-scrollbar-thumb {
  background: #f7a96f;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eb4d3b;
}

input[type="date"] {
  width: 200px; /* set width */
  padding: 10px; /* set padding */
  border: 1px solid #eb4d3b; /* set border */
  border-radius: 5px; /* round corners */
  background-color: #f7a96f; /* set background color */
}

/* Optional: Style for when the date input field is focused */

input[type="date"]:focus {
  border-color: #eb4d3b; /* change border color on focus */
  /* change background color on focus */
}

/* Optional: Style for the date input field's arrow */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
} */
