.container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap as needed */
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff0e7;
}

.left-section {
  flex: 1 1 60%; /* Flex grow, flex shrink, flex basis */
  padding: 20px;
  text-align: justify;
}

.left-section h1,
.left-section p,
.signup-form h2 {
  color: #000000; /* Unified color for simplicity */
}

.left-section h1 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}

.left-section p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.left-section button {
  background-color: #eb4d3b;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  margin-left: auto; /* Aligns the button to the right */
}

.right-section {
  flex: 1 1 40%; /* Flex grow, flex shrink, flex basis */
  height: auto; /* Height adjusts to content */
  background-color: #f7a96f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  padding: 20px;
}

.signup-form {
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  font-size: 2rem; /* Responsive font size */
  margin-bottom: 20px;
}

/* Media Queries for different screen sizes */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: 1 1 100%; /* Full width on smaller screens */
  }

  .left-section button {
    position: static;
    width: auto;
    margin-left: 0; /* Reset margin on smaller screens */
  }
}

.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="text"],
.signup-form select,
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff0e7;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-form button {
  background-color: #eb4d3b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff0e7;
}

::-webkit-scrollbar-thumb {
  background: #f7a96f;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eb4d3b;
}
